* {
  margin: 0;
  padding: 0;
}
body{
  background-image: url("solo.png");
  background-size: cover;
  /* justify-content: center; */
}
.main-container {
  max-width: 100vw;
}

#inside-container1 {
  margin-left: 20px;
  margin-right: 20px;
}

.box-upper {
  max-width: 100vw;
  text-align: center;
  border-radius: 10px;
}

#box-upper1 {
  padding: 20px;
  color: rgb(96, 89, 89);
  background-color: rgb(184, 232, 184);
  font-size: xx-large;
}

#box-upper2 {
  padding: 40px;
  /* background-color: white; */
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 40px;
  color: rgb(255, 0, 0);
  padding-top: 100px;
}

#box-upper3 {
  padding: 30px;
  background-color: rgb(184, 232, 184);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: ;
}

.inner-box {
  margin: 5px;
  height: 100px;
  padding: 15px;
  width: 100px;
}
#inner-box1 {
  background-color: rgb(225, 219, 18);
  font-size: large;
  border-radius: 10px;
}

#inner-box2 {
  background-color: rgb(200, 102, 67);
  font-size: large;
  border-radius: 10px;
}
#box-e2 {
  background-color: white;
  height: 85px;
  padding-top: 15px;
  font-size: large;
  border-radius: 10px;
}

#inner-box3 {
  font-size: large;
  background-color: rgb(187, 179, 179);
  border-radius: 10px;
}

#inside-container2 {
  max-width: 100vw;
  background-color: rgb(247, 42, 227);
  padding: 2px;
  border-radius: 10px;
}

.box-lower {
  max-width: 100vw;
  background-color: azure;
  text-align: center;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
}
#box-lower2 {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
